$loadingBackground: #00d8c9;

html,body,#root{
        height: 100%;
}

.home-wrapper{
    height: 100%;
    h2{
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }
}