$loadingBackground: #00d8c9;

html,body,#root{
        height: 100%;
}

.home-wrapper{
    height: 100%;
    h2{
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }
    .home-content{
       padding: 20px 0;
       p{
           margin-right: 20px;
       }
    }
    .home-jump-to{
        margin: 20px auto;
    }
}

h2{
    // background: url('/assets/images/test2.png');
}